[Desktop Entry]
Type=Application
Name=Cosmic Connect
Comment=Connect to KDE Connect devices
Icon=phone-symbolic
Exec=cosmic-connect-applet
Categories=CosmicApplet;
X-CosmicAppletCategories=Connectivity;
NoDisplay=true